:root{
   font-family:  sans-serif;
   font-size: 16px;
   --navBg:  rgba(139, 138, 138, 0.493);
   --titleBg :#1b1a17;
}
body {
   margin: 0;
   font-size: 1.125rem;
   font-weight: 300;
   color: black;

}
svg{
   transform: scale(3);
}
/* *for te scroll bar */
body::-webkit-scrollbar{
   width: 0.25rem;
}
body::-webkit-scrollbar-track{
   background-color: white;
}
body::-webkit-scrollbar-thumb{
   color: black;
}
#pborder3{
   border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}
header{
   font-family: 'Montserrat', sans-serif;
   width: 100vw;
   position: fixed;
   background-color: black;
   /* top: 0;
   left: 0; */
   transition: background-color .5s ease;
   z-index: 100;
}
.navbar{
   margin: 0.5rem 5rem 0rem;
   border-bottom: 2px solid rgba(255, 255, 255, 0.055);

   /* transition: height .5s ease; */
}
h3 a{
   text-decoration: none;
   color: #1792d2;
}
.navbar-nav{
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   flex-flow: column wrap;

}
.nav-item{
   list-style-type: none;  
   padding: 0 2rem 1rem;

}
.nav-item:first-child{
   margin-right: auto;
}
.nav-words{
   display: none;
}
#hamburger{
   position: absolute;
   right: 2rem;
}
.nav-link{
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 1.5rem;
}
.nav-item:hover,.nav-item:focus{
   border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}
.scrolling-active{
   background-color: var(--titleBg);
   box-shadow: 0 3px 1rem var(--navBg);
}

img {
   max-width: 100%;
   display: block;
}

h1,
h2,
h3 {
   font-family: serif;
   font-weight: 400;
   color: black;
   margin-top: 0;
}

h1 {
   font-size: 2rem;
   margin: 0;
}

h3 {
   color: #1792d2;
}

/* .subtitle {
   font-weight: 700;
   color: #1792d2;
   font-size: .75rem;
   margin: 0;
} */

.article-title {
   font-size: 3rem;
   margin: 0 auto;
}
.article-author {
   font-size: 1.5rem;
   margin: 0 auto;
}
.article-date{
   margin: 0 auto;
   padding-bottom: 1rem;
}

.container {
   padding-top: 10rem;
   width: 90%;
   max-width: 900px;
   margin: 0 auto;
}

.container-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* header {
   background: #f8f8f8;
   text-align: center;
   padding: 2em 0;
   margin-bottom: 3em;
} */

/* 

nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
} */
/* 
nav li {
   margin: .5em 0;
} */

/* nav a {
   text-decoration: none;
   color: #707070;
   font-weight: 700;
   margin: .25em 0;
}

nav a:hover,
nav a:focus {
   color: #1792d2;
} */
/* 
.current-page {
   border-bottom: 1px solid #707070;
} */
/* 
.current-page:hover {
   color: #707070;
} */

.article-featured {
   border-bottom: #707070 1px solid;
   padding-bottom: 2em;
   margin-bottom: 2em;
}
.sidebar-widget {
   border: 10px solid #efefef;
   margin-bottom: 2em;
   padding: 1em;

}

.widget-title {
   font-size: 1rem;
   font-family: sans-serif;
   font-weight: 700;
}

.widget-recent-post-title {
   font-size: 1rem;
}

.widget-recent-post {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #707070;
   margin-bottom: 1em;
}

.widget-recent-post:last-child {
   border: 0;
   margin: 0;
}

.widget-image {
   order: -1;
   margin-bottom: .5em;
}


@media (min-width: 900px) {
   .container-nav,
   .container-flex {
      flex-direction: row;
   }
   
   main {
      width: 70%;
      
   }

   aside {
      width: 25%;
      min-width: 200px;
      margin-left: 1em;
   }
/*    
   nav ul {
      flex-direction: row;
   }
   
   nav li {
      margin-left: 2em;
   } */
   
  
   .article-title {
      order: 99;
   }
   
   .article-image {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
   }
   
   
   .article-featured {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-items: center;
   }
   
   .article-image {
      order: 0;
   }
 
   .article-title {
      order: 0;
   }
   .nav-words{
      display: initial;
      /* transition: 1s ease-in-out; */
  }
  .navbar-nav{
      flex-flow: row wrap;
  }
  #hamburger{
      display: none;
  }
   

}

/* !FOOTER CONTENTS */
#footer{
   text-align: center;
   position: relative;
   padding: 1rem;

}
.footer-icons{
   padding: 1rem;
}
footer a{
   text-decoration:none;
   color: black;
}
footer a:hover{
   color: grey;
}




