:root{
    font-size: 16px;
    --navBg:  rgba(139, 138, 138, 0.493);
    --titleBg :#1b1a17;
}
/* ! Header navigation  */
html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
header{
    width: 100vw;
    position: fixed;
    /* top: 0;
    left: 0; */
    /* background-color:transparent; */
    transition: background-color .5s ease;
    z-index: 100;
}
.navbar{
    margin: 0.5rem 5rem 0rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.055);
    /* transition: height .5s ease; */
}
.navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.nav-item{
    list-style-type: none;  
    padding: 0 2rem 1rem;

}
.nav-item:first-child{
    margin-right: auto;
}
.nav-words{
    display: none;
}
#hamburger{
    position: absolute;
    right: 2rem;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.nav-item:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}
.nav-item::after,.nav-item:active{
    border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}
#pborder2{
    border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}
            /* Scrolling Effect */
            /*Apply styles after scroll*/
.scrolling-active{
    background-color: var(--titleBg);
    box-shadow: 0 3px 1rem var(--navBg);
}


/* *for the scroll bar */

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    color: black;
}

html
{
    margin: 0px;
    padding:0px;
}
body{
    margin: 0px;
    padding: 0%;   
}

svg{
    transform: scale(3);
}
#logo-img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: relative;
    top: 1px;
}
.title{
    color: #eeeeee;
    display: inline-block;
    padding: 10px;
}
h1{
    margin-top: -1px;
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
}
.headerLink{
    display: inline-block;
    padding: 50px 20px 36px 20px;
    position: relative;
    left : 45%;
    bottom: 20%;
    margin: 0;
}
.eventsLink{
    color: #00adb5;
}
.headerLink:hover{
    background-color: #393e46;
}
div > a{
    color: white;
    text-decoration: none;
}

/* --------------------------------------------------------- */


.eventshead{
    
    position: relative;
        padding-top: 23%;
        text-align: center;
        color: #ccc;
        font-size: 5em;
        text-shadow: 6px 12px #0B0C10;
        font-family: 'Montserrat', sans-serif;
        top:-100px;
        margin-left: -50px;
        font-weight:bolder;
}


.eventshead2{
    
    position: relative;
        padding-top: 23%;
        text-align: center;
        color: #ccc;
        font-size: 5em;
        text-shadow: 6px 12px #0B0C10;
        font-family: 'Montserrat', sans-serif;
        top:-380px;
}

.imagesetup{
    position: relative;
    /* background-image: url("/Images/eventsbggif.gif"); */
    background-size: cover;
    width:100%;
    height: 900px;
    background-image: url("/Images/robowar.jpg");
    filter:grayscale(80%);



}

.div2imagesetup{
    display: flex;
    position: relative;
    background-image: url("/Images/bb4.png");
    background-size: cover;
    width:100%;
    height: 900px;

    /* background-image: url("/Images/robowar.jpg"); */


}
#galleryimage{
    position: relative;
    background-image: url("/Images/gallery2.png");
    background-size: cover;
    margin-top: -6%;;
    width: 1510px;
    height: 1600px;
    filter: grayscale(30%);


}
#ourgalleytext{
    position: relative;
    font-size: 100px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    color: white;
    top:30%;
    margin-left:430px;

}
/* Image 1 Buttons */

.brochurepos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 84%;
    color: #ccc;
    top:-790px;
}
.gallerypos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 84%;
    color: #ccc;
    top:-730px;
}

.registereventspos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 84%;
    color: #ccc;
    top:-670px;
}

.chatwithuspos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 84%;
    color: #ccc;
    top:-610px;
    
}



.buttonclass{
    width:500px;
}

.topbutton1{
    box-shadow: 4px 4px 4px 1px black;
    width: 1000px;
  border-radius: 12px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 75px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  z-index:-1;
  
}


.topbutton2{
    box-shadow: 4px 4px 4px 1px black;
    width: 1000px;
  border-radius: 12px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 81px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  z-index:-1;
  
}


.topbutton3{
    box-shadow: 4px 4px 4px 1px black;
    width: 1000px;
  border-radius: 12px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  z-index:-1;
  
}


.topbutton4{
    box-shadow: 4px 4px 4px 1px black;
    width: 1000px;
  border-radius: 12px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  z-index:-1;
  
}

.topbutton:hover{
background-color: #2f293d;
}


/* Know More on Image 1 Action */
.knowmoreaction
{
    position: relative;
    font-size: 20px;
    color: white;
    margin-left: 47%;
    color: #ccc;
    top:-300px;

    animation: slide1 1s ease-in-out infinite;
}


  @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
  }
  



/* Part 2 */



/* Builfing of the information */



.event_name{
    background-color: white;
    font-size: 30px;
    text-align: center;


}


#statsdiv{
    padding-top: 2%;
    display: inline-block;
    position:relative;
    width:1019px;
    background-color: #1b1a17;
    height: 490px;
}

.statusdivhead{
    text-align: center;
    color: #ccc;
    font-size: 5em;
    text-shadow: 6px 12px #222738;
    font-family: 'Montserrat', sans-serif;
}

.statusdivheadtextbox
{
    margin-top: 6.3%;
    width:100%;
    height:200px;
    background-color: white;
    border-color:#0B0C10 ;
    border-width: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.statusdivheadtext{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:black;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.newstats{
    display:flex;
}

.eventsstats{
font-size: 20px;
color:black;
margin-left:6%;
}

.smallvertical
{
    display: flex;
    margin-top: 1%;
    margin-left: 15%; 
    border-left: 3px solid black;
  height: 50px;
}


.flagshipeventsstats{
    font-size: 20px;
    color:black;
    margin-left:15%;
    }
    
    .smallvertical1
    {
        display: flex;
        margin-top: 1%;
        margin-left: 15%; 
        border-left: 3px solid black;
      height: 50px;
    }


    .workshopstats{
    font-size: 20px;
    color:black;
    margin-left:50px;
    }


/* Buttons in image 2 */

    .leftbuttons{
        display: inline-block;
        margin-left: 22px;
        
    }
    .middleinfo{
        margin-top:210px;
        margin-left: 40px;
        height:510px;
        width:1018px;


    }
    .rightbuttons
    {
    
        display: inline-block;
        margin-left: 15px;
    }

    .eventsbuttons{
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0);
        border-radius: 12px;
        background-color: #1b1a17;
        border: 2px solid white;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;

    }

    .upcomingeventsbuttonpos{

        top:360px;
        position: relative;
        font-size: 10px;
        color: white;
        z-index: 100;
        
    }

    .flagshipeventsbuttonpos{

    padding-top:450px;
    position: relative;
    font-size: 10px;
    color: white;
    }


    .workshopsbuttonpos{
        top:380px;
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 15%;

    }

    .technicaleventsbuttonpos{

        top:460px;
    position: relative;
    font-size: 10px;
    color: white;

    }
    


    #upcominginformation{
     
        padding-top: 4%;
        display: none;
        position:relative;
        height:500px;
        background-color:  #1b1a17;
        border: 2px solid white;
        
        
    }

    #flagshipinformation{
     
        padding-top: 4%;
        display: none;
        position:relative;
        height:500px;
        background-color:  #1b1a17;
        border: 2px solid white;
        
        
    }
    #workshopinformation{
     
        padding-top: 4%;
        display: none;
        position:relative;
        height:500px;
        background-color:  #1b1a17;
        border: 2px solid white;
        
        
    }
    #technicalinformation{
     
        padding-top: 4%;
        display: none;
        position:relative;
        height:500px;
        background-color:  #1b1a17;
        border: 2px solid white;
        
        
    }

    .close{
        color:white;
        margin-left:95%;
        margin-top:-7%;
        cursor: pointer;
        font-size: x-large;
    }



    .divheading
    {
        color:white;
        margin-left:37%;
        margin-top:-1%;
        font-family: 'Montserrat', sans-serif;

    }

    .cardalignment
    {
        display: inline-block;
     
        
    }

    .card
    {
        background-image: url("/Images/fest.jpg");
        display: inline-block;
        position: relative;
        width:30%;
        margin-left: 20px;
        height:360px;
        background-color: black;  
        z-index: 1;     
        
    }

    .smallbox
    {
        padding-top: 10px;
        padding-right: 10px;
        position: relative;
        width:30%;
        height:115px;
    }
    
    .cardtextposition
    {
        position: relative;
        color:white;
        margin-top: 20px;
        margin-left:20px;
        margin-right: 10px;
        display: inline-block;

    }

   

    .dateandregistrationalignment
    {
        border-top: 2px solid rgb(223, 220, 211);
        color:white;
        padding-top: 2%;
        width:40%;
        display: inline-block;
        margin-left: 85px;
        margin-top: 30px;
    }

    .registereventsbutton
    {

        position: relative;
        font-size: 7px;
        margin-left: 39.5%;
        margin-top: 2.5%;
    }
    .registereventscss{
    
        border: 2px solid white;
        color: white;
        padding: 10px 28px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
      }


 .eventorganizers{
     display: flex;
     margin-top:0.5%;
    position: relative;
    background-image: url("/Images/event_organizers.png");
    background-size: cover;
    width: 1510px;
    height: 290px;
 }

 .eventorganizers1{
     width:290px;
     height:290px;
     margin-left:37.5%;
     padding-top: 6%;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-weight: bolder;
 }

 .eventorganizers2{
    width:290px;
    height:290px;
    margin-left:25.5%;
    padding-top: 6%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}


#footer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    margin-top: 1rem;

}
.footer-icons{
    padding: 1rem;
}
footer a{
    text-decoration:none;
    color: black;
}
footer a:hover{
    color: grey;
}

/* Team's CSS */

/* * media queries  */

@media screen and (min-width:1000px) {
    .nav-words{
        display: initial;
        /* transition: 1s ease-in-out; */
    }
    .navbar-nav{
        flex-flow: row wrap;
    }
    #hamburger{
        display: none;
    }
    .home-navbar-nav{
        flex-flow: row wrap;
    }
    .home-nav-item{
        padding-left: 0;
        padding-right: 5rem;
    }

}