root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --navBg:  rgba(139, 138, 138, 0.493);
    --titleBg :#1b1a17;
    --transition-speed: 600ms;
  }

  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
      
    font-size: 62.5%;
  
    /* background-image: linear-gradient( to bottom left, white, black);
     */
  }
  body{
    /* background-image: url("/Images/teamsbg.png"); */
    background-repeat:repeat;
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4000000000000004rem;
    padding: 0;
    margin: 0;
    color: rgba(50, 51, 51, 0.8);
    line-height: 2.6rem;
    
    /* background-image: linear-gradient(to bottom right, black, white); */
    
  }
  svg{
    transform: scale(3);
  }
  /* *for the scroll bar */
  body::-webkit-scrollbar{
    width: 0.25rem;
  }
  body::-webkit-scrollbar-track{
    background-color: white;
  }
  body::-webkit-scrollbar-thumb{
    color: black;
  }
  
  /* ! Header navigation  */
  
  header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    transition: background-color .5s ease;
    z-index: 100;
    height: auto;
  }
  .navbar{
    margin: 2rem 5rem 0rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.055);
    transition: height .5s ease;
  }
  .navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  
  }
  .nav-item{
    list-style-type: none;  
    padding: 0 2rem 1rem;
    font-size: 2rem;
  
  }
  .nav-item:first-child{
    margin-right: auto;
  }
  .nav-words{
    display: none;
}
#pborder4{
  border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}
#hamburger{
  position: absolute;
  right: 2rem;
}
  .nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
  }
  .nav-item:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.822);
  }
  
            /* Scrolling Effect */
            /*Apply styles after scroll*/
  .scrolling-active{
    background-color: black;
    box-shadow: 0 4px 1rem var(--navBg);
  }

#pcontainer{
    width: 100%;
    height:100vh;
    background-color: rgb(119, 150, 150);

    display:flex;
}

#p1{
    width:16.66%;
    background-color: #1b1a17;
    height:100%;
    overflow: hidden;
}
#p1 img{
    height:100%;
    width:200%;
  margin-left:-70%;
}

#p2{
    width:16.66%;
    background-color: #1b1a17;
    height:100%;
    overflow: hidden;
}
#p2 img{
    height:100%;
    width:180%;
    margin-top:15%;
    margin-left: -30%;
}

#p3{
    width:16.66%;
    background-color: #1b1a17;
    height:100%;
    overflow: hidden;
}
#p3 img{
    height:100%;
    width:120%;
    margin-top:15%;
    margin-left:-15%;
    
    }

#p4{
    width:16.66%;
    background-color: #1b1a17;
    height:100%;
    overflow: hidden;
}
#p4 img{
    height:100%;
    width:220%;
    margin-top: 20%;
}

#p5{
    width:16.66%;
    background-color: #1b1a17;
    height:100%;
    overflow: hidden;
}
#p5 img{
    height:100%;
    width:190%;
    margin-left: -25%;
}
#p6{
    width:16.66%;
    background-color: #1b1a17;
    height:100%;
    overflow: hidden;
}
#p6 img{
    height:100%;
    width:200%;
    margin-left:-30%;
}

#stop{
  position:absolute;
margin-top:0;
z-index:19;
width:100%;
height:100%;
opacity:1;
display:block;
}
#board1{
position:absolute;
background-color: rgba(0, 0, 0, 0.85);
margin-top:0;
margin-left:16.6%;
width:100%;
height:100%;
opacity:0;
display:none;
}
 .dr{
  position: relative;
  margin-top:20%;
  margin-left: 5%;
  font-size: 150px;
  color:white;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   */
   font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;

}
 h1{
  position: relative;
  margin-top:2%;
  margin-left: 5%;
font-size: 120px;
  color:white;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   */
   font-family: 'Montserrat', sans-serif;
 
  letter-spacing: 10px;

}
 h3{
  position: relative;
  font-size: 50px;
  margin-left: 5%;
  color:#6c6d6d;
  font-family: 'Montserrat', sans-serif;
 
 
}
 h2{
  position: relative;
  font-size: 50px;
  margin-left: 5%;
  color:#c3c4c4;
  font-family: 'Montserrat', sans-serif;
 
 
}
#board2{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    margin-left:33.4%;
    width:100%;
    height:100%;
    opacity:0;
    display:none;
    
    }
#board3{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    margin-left:50%;
    width:100%;
    height:100%;
    opacity:0;
   display:none;
    
    }
#board4{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
   
    width:50%;
    height:100%;
   display:none;
    
    }
#board5{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    
    width:66.8%;
    height:100%;
    display:none;
    
    }
#board6{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    
    width:83.5%;
    height:100%;
    display:none;
    
    }

#support1{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    
    width:16.8%;
    height:100%;
    opacity:0;
    display:none;
    
    }
    
#support2{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    
    width:33.4%;
    height:100%;
    opacity:0;
    display:none;
    
    }
#support3{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    margin-left:66.5%;
    width:100%;
    height:100%;
    opacity:0;
    display:none;
    
    }
#support4{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top:0;
    margin-left:83.3%;
    width:100%;
    height:100%;
    opacity:0;
    display:none;
    
    }
#img1{
  opacity:0;
}
#img2{
  opacity:0;
}

#img3{
  opacity:0;
}

#img4{
  opacity:0;
}

#img5{
  opacity:0;
}

#img6{
  opacity:0;
}


/* !FOOTER CONTENTS */
#footer{
  text-align: center;
  position: relative;
  top: 3rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}
.footer-icons{
  padding: 1rem;
}
footer a{
  text-decoration:none;
  color: black;
}
footer a:hover{
  color: grey;
}

/* Team's CSS */

/* * media queries  */

@media screen and (min-width:1000px) {
  .nav-words{
      display: initial;
      /* transition: 1s ease-in-out; */
  }
  .navbar-nav{
      flex-flow: row wrap;
  }
  #hamburger{
      display: none;
  }
}

