html, body 
{
    margin:0;
    height:100%;
}
.box{
    width: 100%;
    height: 100%;
    background: #D7FFAE;
}
.box1{

    width: 50%;
    height: 100%;
    background:blue ;

}
.box2{
    position:relative;
    margin-top: -47%;
    margin-left:52%;
    width: 18%;
    height: 40%;
    background: red;
}
.box3{
    position:relative;
    margin-top: 5%;
    margin-left:52%;
    width: 18%;
    height: 40%;
    background: orange;
}
.box4{
    position:relative;
    margin-top: -44.8%;
    margin-left:75%;
    width: 18%;
    height: 40%;
    background: red;
}
.box5{
    position:relative;
    margin-top: 5%;
    margin-left:75%;
    width: 18%;
    height: 40%;
    background: orange;
}