html
{
    margin: 0px;
    padding:0px;
}
body{
    margin: 0px;
    padding: 0%;   
}

header{
    height: 90px;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(50, 61, 67));
    /* background-color: rgb(0, 0, 0); */
}
#logo-img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: relative;
    top: 1px;
}
.title{
    color: #eeeeee;
    display: inline-block;
    padding: 10px;
}
h1{
    margin-top: -1px;
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
}
.headerLink{
    display: inline-block;
    padding: 50px 20px 36px 20px;
    position: relative;
    left : 45%;
    bottom: 20%;
    margin: 0;
}
.eventsLink{
    color: #00adb5;
}
.headerLink:hover{
    background-color: #393e46;
}
div > a{
    color: white;
    text-decoration: none;
}

.imagesetup{
    position: relative;
    background-image: url("/Images/rccarbg.jpeg");
    background-size: cover;
    width:100%;
    height:555px;

}




.imagesetup2{
    position: absolute;
    top:645px;
    opacity: 85%;
    background-image: url("/Images/bg.jpg");
    background-size: cover;
    width:100%;
    height:1450px;
}

#eventsmenu1{
    position: relative;
    color:black;
    position: relative;
    background: rgb(197, 136, 4);
    padding: 5px;
    width:200px;
    height:45px;
    margin-left: 1%;
    margin-top: 18px;
    border-radius: 10px;
        
}
#eventsmenu2{
    position: relative;
    color:black;
    position: relative;
    background: rgb(197, 136, 4);
    padding: 5px;
    width:200px;
    height:45px;
    margin-left: 1%;
    margin-top: 18px;
    border-radius: 10px;
        
}

#classforbutton1{
   
    color:white;
    background-color: rgb(197, 136, 4);
    height: 35px;
    margin-top: 5px;
    margin-left:33px;
    border-style: none;
    cursor: pointer;
   
}

#classforbutton2{
    
    background-color: rgb(197, 136, 4);
    height: 35px;
    margin-top: 5px;
    margin-left:33px;
    border-style: none;
    cursor: pointer;
   
}



#flagshipinformation{
    display: none;
    top:760px;
    left:305px;
    position:absolute;
    width:1000px;
    height:500px;
    background-color: rgb(27,39,61);
    
    
    
}

#upcominginformation{
   
    top:760px;
    left:305px;
    position:absolute;
    width:1000px;
    height:500px;
    background-color: rgb(27,39,61);
    
    
}

.block1{
    border-radius: 25px;
    position: absolute;
    width:250px;
    height:400px;
    left: 25px;
    top:50px;
    background-color: rgba(214, 255, 174, 0.671);
    text-align: center;
}


.block2{
    border-radius: 25px;
    position: absolute;
    width:250px;
    height:400px;
    left: 375px;
    top:50px;
    background-color: rgba(214, 255, 174, 0.671);
    text-align: center;
}

.block3{
    border-radius: 25px;
    position: absolute;
    width:250px;
    height:400px;
    left: 725px;
    top:50px;
    background-color: rgba(214, 255, 174, 0.671);
    text-align: center;
}

.registernow{
   
        background-color: black; /* Green */
        border: none;
        color: white;
        padding: 10px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
      
}

.knowmoretext{
    z-index: 1;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    padding-left: 25px;
    padding-top: 505px;
    color:#eeeeee
}

.eventsstats{
        z-index: 2;
        position: absolute;
        top:560px;
        width:100%;
        height:130px;
        background-color: rgb(76,47,163);
        display: flex;
        
    
}

.vertical1{
    margin-top: 16px;
    margin-left: 420px;
    border-left: 2px solid white;
  height: 100px;
}
.vertical2{
    margin-top: 16px;
    margin-left: 420px;
    border-left: 2px solid white;
  height: 100px;
}

.stats1{
    position: absolute;
    margin-top: -25px;
    margin-left: 160px;
    color: white;
    font-size: 50px;
}

.stats1data{
    position: absolute;
    margin-top: 60px;
    margin-left: 165px;
    color: white;
    font-size: 20px;
}



.stats2{
    position: absolute;
    margin-top: -25px;
    margin-left: 620px;
    color: white;
    font-size: 50px;
}

.stats2data{
    position: absolute;
    margin-top: 60px;
    margin-left: 575px;
    color: white;
    font-size: 20px;
}

.stats3{
    position: absolute;
    margin-top: -25px;
    margin-left: 1060px;
    color: white;
    font-size: 50px;
}

.stats3data{
    position: absolute;
    margin-top: 60px;
    margin-left: 1050px;
    color: white;
    font-size: 20px;
}

.icon{
    position: absolute;
    margin-top: 107px;
    margin-left: 640px;
    color: rgb(76,47,163);
    font-size: 20px;
}


#demo{
    position: absolute;
    margin-top: 130px;
    margin-left: 330px;
    font-size: 80px;
    color: white;
}

.formdiv{
   
    border-radius: 15px;
    top:1360px;
    left:180px;
    position:absolute;
    width:1000px;
    height:500px;
    background-color: #f2f2f2;
}

input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: greenyellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .formatting{
      margin-left: 110px;
  }

  .formattingregisterhere{
      margin-left:390px;
  }

  .formattingyesno{
      margin-left: 110px;
  }
  .formattingsubmit{
    margin-left: 460px;
  }

  #fname{
    margin-left: 58px;
}
#email{
    margin-left: 88px;
}
#mobile{
    margin-left: 27px;
}
  
#eventname{
    margin-left: 53px;
}

/* !FOOTER CONTENTS */
#footer{
    text-align: center;
    margin-top: 3rem;
  }
  .footer-icons{
    padding: 1rem;
  }
  footer a{
    text-decoration:none;
    color: black;
  }
  footer a:hover{
    color: grey;
  }