

:root{

    font-size: 16px;
    --navBg:  rgba(139, 138, 138, 0.493);
    --titleBg :#1b1a17;
}
/* ! Header navigation  */

header{
    width: 100vw;
    position: fixed;
    /* top: 0;
    left: 0; */
    /* background-color:transparent; */
    transition: background-color .5s ease;
    z-index: 100;
}
.navbar{
    margin: 0.5rem 5rem 0rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.055);
    /* transition: height .5s ease; */
}
.navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}
.nav-item{
    list-style-type: none;  
    padding: 0 2rem 1rem;

}
.nav-item:first-child{
    margin-right: auto;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.nav-item:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}

            /* Scrolling Effect */
            /*Apply styles after scroll*/
.scrolling-active{
    background-color: var(--titleBg);
    box-shadow: 0 3px 1rem var(--navBg);
}


/* *for the scroll bar */

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    color: black;
}

html
{
    margin: 0px;
    padding:0px;
}
body{
    margin: 0px;
    padding: 0%;   
}

svg{
    transform: scale(3);
}
#logo-img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: relative;
    top: 1px;
}
.title{
    color: #eeeeee;
    display: inline-block;
    padding: 10px;
}
h1{
    margin-top: -1px;
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
}
.headerLink{
    display: inline-block;
    padding: 50px 20px 36px 20px;
    position: relative;
    left : 45%;
    bottom: 20%;
    margin: 0;
}
.eventsLink{
    color: #00adb5;
}
.headerLink:hover{
    background-color: #393e46;
}
div > a{
    color: white;
    text-decoration: none;
}

/* --------------------------------------------------------- */


.eventshead{
    
    position: relative;
        padding-top: 23%;
        text-align: center;
        color: #ccc;
        font-size: 5em;
        text-shadow: 6px 12px #0B0C10;
        font-family: 'Montserrat', sans-serif;
        top:-150px;
        margin-left: -60px;
        font-weight:bolder;
}


.eventshead2{
    
    position: relative;
        padding-top: 23%;
        text-align: center;
        color: #ccc;
        font-size: 5em;
        text-shadow: 6px 12px #0B0C10;
        font-family: 'Montserrat', sans-serif;
        top:-380px;
}

.imagesetup{
    position: relative;
    /* background-image: url("/Images/eventsbggif.gif"); */
    background-size: cover;
    width:100%;
    height: 900px;
    background-image: url("/Images/robowar.jpg");
    filter: grayscale(100%);

}

.div2imagesetup{
    display: flex;
    position: relative;
    background-image: url("/Images/even3withbody.png");
    background-size: cover;
    width:100%;
    height: 900px;
    /* background-image: url("/Images/robowar.jpg"); */
    filter: grayscale(100%);

}
#galleryimage{
    position: relative;
    background-image: url("/Images/gallery2.png");
    background-size: cover;
    width: 1510px;
    height: 1700px;
    filter: grayscale(100%);

}
#ourgalleytext{
    position: relative;
    font-size: 100px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
    color: white;
    top:30%;
    margin-left:430px;

}
/* Image 1 Buttons */

.registereventspos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 86.5%;
    color: #ccc;
    top:-295px;
}

.chatwithuspos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 88.5%;
    color: #ccc;
    top:-230px;
    
}

.brochurepos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 1%;
    color: #ccc;
    top:-350px;
}
.gallerypos{
    
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 1.3%;
    color: #ccc;
    top:-280px;
}


.topbutton{
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0);
  border-radius: 12px;
  background-color: #181E1E;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  
}

.topbutton:hover{
background-color: #2f293d;
}


/* Know More on Image 1 Action */
.knowmoreaction
{
    position: relative;
    font-size: 13px;
    color: white;
    margin-left: 47%;
    color: #ccc;
    top:-350px;

    animation: slide1 1s ease-in-out infinite;
}


  @keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0, 10px);
    }
  }
  



/* Part 2 */



/* Builfing of the information */

.smallbox
{
    position: relative;
    width: 80%;
 background-color: black;
  margin-left: 1%;
  padding-top: 1%;
    
}



.rotatetext{
    -webkit-transform: rotate(-90deg);
    
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 55px;
    margin-bottom: 10px;;

    
   
}



.statsdiv{
    top:215px;
    padding-top: 4.3%;
    margin-left: 3.6%;
    display: inline-block;
    position:relative;
    width:1019px;
    background-color: rgb(27,26,23) ;
    height: 465px;
}

.statusdivhead{
    text-align: center;
    color: #ccc;
    font-size: 5em;
    text-shadow: 6px 12px #0B0C10;
    font-family: 'Montserrat', sans-serif;
}
.statusdivheadtext{
    color:white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.newstats{
    display:flex;
}

.eventsstats{
font-size: 20px;
color:white;
margin-left:7%;
}

.smallvertical
{
    display: flex;
    margin-top: 1%;
    margin-left: 15%; 
    border-left: 3px solid white;
  height: 50px;
}


.flagshipeventsstats{
    font-size: 20px;
    color:white;
    margin-left:15%;
    }
    
    .smallvertical1
    {
        display: flex;
        margin-top: 1%;
        margin-left: 15%; 
        border-left: 3px solid white;
      height: 50px;
    }


    .workshopstats{
    font-size: 20px;
    color:white;
    margin-left:50px;
    }


/* Buttons in image 2 */

    .leftbuttons{
        display: inline-block;
    }

    .eventsbuttons{
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0);
        border-radius: 12px;
        background-color: #181E1E;
        border: 2px solid white;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;

    }

    .upcomingeventsbuttonpos{

        top:380px;
    position: relative;
    font-size: 10px;
    color: white;
    color: #ccc;
    margin-left: 34px;
    }

    .flagshipeventsbuttonpos{

    padding-top:630px;
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 50px;
    color: #ccc;
    }

    .flagshipeventsbuttonpos{

        top:-110px;
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 2%;
    color: #ccc;
    }

    .workshopsbuttonpos{

        top:-110px;
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 2%;
    color: #ccc;
    }

    .technicaleventsbuttonpos{

        top:-110px;
    position: relative;
    font-size: 10px;
    color: white;
    margin-left: 2%;
    color: #ccc;
    }
    


    #upcominginformation{
        top:-325px;
        padding-top: 4%;
        margin-left: 8%;
        display: inline-block;
        position:relative;
        width:75%;
        height:500px;
        background-color: rgb(27,26,23) ;
        border: 2px solid white;
        
        
    }

    .close{
        color:white;
        margin-left:95%;
        margin-top:-7%;
        cursor: pointer;
        font-size: x-large;
    }



    .divheading
    {
        color:white;
        margin-left:37%;
        margin-top:-1%;
        font-family: 'Montserrat', sans-serif;

    }

    .cardalignment
    {
        display: flex;
        
    }

    .card
    {
        position: relative;
        margin-left: 8%;
        width:87%;
        margin-top: 1%;
        height:125px;
        background-color: rgb(255, 247, 247);  
        z-index: 1;      
    }

    .smallbox
    {
        padding-top: 10px;
        padding-right: 10px;
        position: relative;
        width:10%;
        height:115px;
        background-color: rgb(27,26,23);
    }
    
    .cardtextposition
    {
        position: relative;
        color:rgb(27,26,23);
        margin-left:50px;
        margin-right: 120px;
        display: inline-block;

    }

   

    .dateandregistrationalignment
    {
        border-left: 2px solid rgb(27,26,23);
        padding-top: 2%;
        width:40%;
        display: inline-block;
    }

    .registereventsbutton
    {

        position: relative;
        font-size: 7px;
          margin-top: -3%;
        margin-left: 55%;
    }
    .registereventscss{
    
        border: 2px solid rgb(27,26,23);
        color: black;
        padding: 10px 28px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }


 