:root{
    --AchBg: #d8e3e7;
    --ProjBg: #ffe8e8  ;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height:100%;
}
h2{
}
/* * title section  */
.title{
    background-image: url("/Images/bg6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: saturate(60%);
    opacity: 80%;
    height: 70vh;
}
nav{
    position: relative;
    padding: 0 5rem;
}
nav ul{
    margin: 0;
    padding: 10px;
    display: inline-block;
}
.nav-li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}
.nav-li:hover{
    border-bottom: solid;
    border-color: white;
}
.li-active{
    border-bottom: solid;
    border-color: white;

}
li a{
    color: white;
    text-decoration: none;font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.logo-li{
    list-style-type: none;
}

.title-logo{
    border-radius: 100%;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0;
    margin: 0;
}

.right-ul{
    float: right;
}

.Home-nav{
    background-color: black;
    opacity: 90%;
    width: 10rem;
    color: white;
    padding: 20px;
    margin: 2px;
    margin-left : 5rem;
}
.Home-nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
}
.Home-nav:hover{
    border: 5px solid white;
    cursor: pointer;
}
.title-text{
    position: relative;
    left: 40%;
    bottom: 10rem;
    max-width: fit-content;
}
#typing-text {
    color: white; 
    font-weight: bolder;
    border: 0;
    text-align: left;
    overflow: hidden/* title section  */;
    background-color: transparent;
    font-size: 40px;
    padding: 5px;
    width: auto;
    outline: none;
    box-sizing: border-box;
}
.float-right{
    margin: 0;
    color: white;
    margin-left: 5px;
}
@media screen and (max-width:695px){
    .Home-nav{
        width: 100%;
        text-align: center;
    }
    .title-text{
        position: static;
        text-align: center;
    }
    #typing-text{
        text-align: center;
    }
}


/* * Achievements Section  */
#Achievements{
    margin-top: 2rem;
}
.Ach-header{
    margin: 0 auto;
    text-align: center;
    max-width: max-content;
    padding: 1px 5rem;
    background-color: black;
    color: white;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--AchBg);
    position:relative;
    z-index: -1;
    bottom:2rem;
    padding-bottom: 3rem;
}

.div-flex-left{
    display: inline-block;
    margin-top: 4rem;
    width: 40%;
    position: relative;
    right: 10vh;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}
.div-left-img{
    margin: 0 auto;
    height: 50%;
    width: 60%;
}
.f-l-img{
    border-radius: 3rem;
    height: 100%;
    width: 100%;
}
.div-flex-right{
 display: inline-block;
 margin-top: 3rem;
 width: 40%;
 position: relative;
 left: 10vh;   
 justify-content: space-around;

}
.flex-item{
    display: inline-block;
    width: 40%;
    height: 40vh;
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    margin: 10px;

}
flex-item:hover {
    border-style: 3px solid black;
    cursor: pointer;
}
.flex-item-img{
    width: 100%;
    height: 80%;
    border-radius: 3rem;    
}

flex-item-overlay{
    position: absolute;
    z-index: -1;
    bottom: 50rem;
}

/* !PROJECTS SECTION */
.proj-nav{
    margin: 1rem 20rem 0;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Proj-header{
    border-radius: 2rem;
}
.proj-ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.proj-li{
    list-style-type: none;
    padding: 1rem 0rem;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
  }
  .btn-active{
    border-bottom: solid;
    border-color: black;
  }
.button:hover{
    border-bottom: solid;
    border-color: black;
}

        /* !PROJECT CONTENT */
.proj-con-main{
    background-color: var(--ProjBg);
    margin-top: 0;
}
.proj-con-flex{
    display: flex;
    flex-row: row;
    margin: 0 20rem;
    padding: 5rem;
    justify-content:safe;
}
.proj-flex-item{
    text-align: left;
    width: 50%;
    min-width: 20rem;
}
.flex-img{
    height: 100%;
    width: 100%;
}
.flex-content{
    padding: 2rem;
}
.flex-right{
    background-color: white;
    text-align: center;
}

/* !FOOTER CONTENTS */
#footer{
    text-align: center;
    margin-top: 3rem;
}
.footer-icons{
    padding: 1rem;
}
footer a{
    text-decoration:none;
    color: black;
}
footer a:hover{
    color: grey;
}