
:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --navBg:  rgba(139, 138, 138, 0.493);
    --titleBg :#1b1a17;
    --transition-speed: 600ms;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}
svg{
    transform: scale(3);
}
/* *for the scroll bar */
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    color: black;
}

/* ! Header navigation  */

header{
    width: 100vw;
    height: 3.6rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color .5s ease;
    z-index: 100;
}
.navbar{
    margin: 0.5rem 5rem -3rem;
    border-bottom: 4px solid rgba(255, 255, 255, 0.055);
    transition: height .5s ease;
}
.navbar-nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}
.nav-item{
    list-style-type: none;  
    padding: 0 2rem 1rem;

}
.nav-item:first-child{
    margin-right: auto;
}
.nav-link{
    text-decoration: none;
    color: white;
    
}
.nav-item:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.822);
}

            /* Scrolling Effect */
            /*Apply styles after scroll*/
.scrolling-active{
    background-color: var(--titleBg);
    box-shadow: 0 3px 1rem var(--navBg);
}




body{
    margin: 0px;
    padding:0px;
    background-image: url("/Images/testBg4.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;   
}


#logo-img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: relative;
    top: 1px;
    margin-left: 50px;
}
.title{
    color: #f8f5f1;
    display: inline-block;
    padding: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    margin-top: 0px;
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
}
.headerLink{
    display: inline-block;
    padding: 50px 20px 36px 20px;
    position: relative;
    left : 42%;
    bottom: 20%;
    margin: 0;
}
.loginlink{
    color: #00adb5;
    text-decoration: none;
}
.headerLink:hover{
    background-color: #393e46;
    height: 22px;
}
.anchor{
    color: #f8f5f1;
    text-decoration: none;
}
a{
    /* background-color: #15305A; */
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}
a:hover{
    transition: 0.5s;
}

.outter{
    position: relative;
width: 500px;
height: 500px;
left: 645px;
top:180px;
left:530px;
background: #FFFFFF;
border-radius: 15px;
z-index: 1;
box-shadow: -5px 3px 3px rgb(85, 71, 71);
}

.o1 input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin-top:80px;
    margin-left: 70px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .o1 input[type="text"]::placeholder
  {
      color:#90949C;
      font-size: larger;

  }
  .o2 input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin-top:50px;
    margin-left: 70px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .o2 input[type="password"]::placeholder
  {
      color:#90949C;
      font-size: larger;
      
  }
  .outter button{
    background-color: transparent;
    border: none;
    margin-top:5%;
    margin-left: 33%;
  }
  .outter button p{
    
      height:1px;
      color:#1877F2;
      font-weight:bold;
      margin-left: -2%;
      margin-top: 7%;
      font-size: medium;
      cursor:pointer;
  }
  .outter p:hover{
      text-decoration: underline;
  }

  .outter hr{

      width:70%;
      margin-top: 3%;
  }

  .outter a:hover{
    background-color: rgb(56, 54, 54);
    color:white;

  }
 

  .loginbtn{
    align-items: center;
    margin-top: 50px;
   
}
 
  .create a{
   
  
    background-color: black;
    font-weight:bold;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
   align-items:center;
    margin-left: 165px;
    font-size: medium;
}
.loginbtn button{
    background-color: black;
      font-weight:bold;
      border-radius: 5px;
      padding:15px 94px;
      margin-top: -10%;
      cursor:pointer;
     align-items:center;
      margin-left: 135px;
      font-size: medium;
}