.formdiv{
   
    position:relative;
    padding-top:2%;
    border-radius: 15px;
    width:1000px;
    height:500px;
    left:15%;
    background-color: rgb(0, 0, 0,0.9);
    color:white;
}

input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:black;
  }

  input[type=submit] {
     
    background-color: white;
    color: black;
    padding: 13px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }


  .formatting{
    font-weight: bold;
      margin-left: 110px;
  }

  .formattingregisterhere
  {
      
      margin-left:390px;
  }

  .formattingyesno{
      font-weight: bold;
      margin-left: 110px;
  }
  .formattingsubmit{
      
    font-weight: bold;
    margin-left: 48%;
  }

  #fname{
      
    margin-left: 63px;
}
#email{
    margin-left: 95px;
}
#mobile{
    margin-left: 27px;
}
  
#eventname{
    margin-left: 53px;
}