body{
    margin: 0px;
    padding:0px;
    /* background-image: linear-gradient(to right,#f0e3ca,#f8f5f1,#d5ecc2); */
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #EBEDF0;
}

header{
    height: 90px;
    width: 100%;
    margin: 0;
    background-color: #222831;
}
#logo-img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: relative;
    top: 1px;
    margin-left: 50px;
}
.title{
    color: #f8f5f1;
    display: inline-block;
    padding: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    margin-top: 0px;
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
}
.headerLink{
    display: inline-block;
    padding: 50px 20px 36px 20px;
    position: relative;
    left : 42%;
    bottom: 20%;
    margin: 0;
}
.loginlink{
    color: #00adb5;
    text-decoration: none;
}
.headerLink:hover{
    background-color: #393e46;
    height: 22px;
}
.anchor{
    color: #f8f5f1;
    text-decoration: none;
}
a{
    /* background-color: #15305A; */
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}
a:hover{
    color:orange;
    transition: 0.5s;
}
.create{
   margin-top:5%;
    margin-left:38%;
    font-size: 40px;
}


.outter{
    width:100%;
    position: relative;
    height:100%;
    display:flex;
}

.o1 input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin-top:110px;
    margin-left: 268%;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .o1 input[type="text"]::placeholder
  {
      color:#90949C;
      font-size: larger;

  }

 