
.formdiv{
   
    border-radius: 15px;
    top:10px;
    left:180px;
    position:relative;
    width:1000px;
    height:500px;
    background-color: #f2f2f2;
}

input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: greenyellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  .formatting{
      margin-left: 110px;
  }

  .formattingsignuphere{
    position: relative;  
    margin-top: 40px;
      margin-left:420px;
  }

  .forgotpassword{
      margin-left: 440px;
  }
  .formattingsubmit{
    margin-left: 460px;
  }

  #fname{
    margin-left: 58px;
}
#email{
    margin-left: 58px;
}
#mobile{
    margin-left: 27px;
}
  
#eventname{
    margin-left: 53px;
}

html
{
    margin: 0px;
    padding:0px;
}
body{
    margin: 0px;
    padding: 0%;   
}

header{
    height: 90px;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(50, 61, 67));
    /* background-color: rgb(0, 0, 0); */
}
#logo-img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: relative;
    top: 1px;
}
.title{
    color: #eeeeee;
    display: inline-block;
    padding: 10px;
}
h1{
    margin-top: -1px;
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
    margin-bottom: 2px;
    font-weight: normal;
}
.headerLink{
    display: inline-block;
    padding: 50px 20px 36px 20px;
    position: relative;
    left : 45%;
    bottom: 20%;
    margin: 0;
}
.eventsLink{
    color: #00adb5;
}
.headerLink:hover{
    background-color: #393e46;
}
div > a{
    color: white;
    text-decoration: none;
}