<%- include("partials/externals") %> 

    <link rel="stylesheet" href="/Style/blog.css">
    <title>Blogs</title>

       <%- include("partials/navbar") -%>


       
       <!--! Search Bar  -->
       <div class="wrap">
           <form action="/search" method="POST" class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?" name="query">
               <button type="submit" class="searchButton" name="search" value="search">
                  <!-- <i class="fa fa-search"></i> -->
                  Search
               </button>
           </form>
     </div> 
     <!-- main -->
     <div class="container container-flex">
        
        <main role="main">
           <article class="article-featured">
              <h2 class="article-title">Finding simplicity in life</h2>
              <img src="/Images/life.jpg" alt="greenery pic" class="article-image">
              <p class="article-info">July 23, 2019</p>
              <p class="article-body">Life can get complicated really quickly, but it doesn't have to be! There are many ways to simplify your life, a few of which we've explored in the past. This week we're taking a bit of a approach through, in how you can find simplicity in the life you already leaving.</p>
              <a href="#" class="article-read-more">CONTINUE READING</a>
           </article>
           
           <article class="article-recent">
              <div class="article-recent-main">
                 <h2 class="article-title">Keeping cooking simple</h2>
                 <p class="article-body">Food is a very important part of everyone's life. If you want to be healthy, you have to eat healthy. One of the easiest way to do that is to keep your cooking nice and simple.</p>
                 <a href="#" class="article-read-more">CONTINUE READING</a>
              </div>
              
              <div class="article-recent-secondary">
                 <img src="/Images/food.jpg" alt="" class="article-image">
                 <p class="article-info">July 19, 2019</p>
              </div>
           </article>
          
           </article>
           
        </main>
        <!-- main end -->


        <!-- side bar -->
        <aside class="sidebar">
           
           <div class="sidebar-widget">
              <h2 class="widget-title">RECENT POSTS</h2>
              
              <div class="widget-recent-post">
                 <h3 class="widget-recent-post-title">Keeping cooking simple</h3>
                 <img src="/Images/food.jpg" alt="" class="widget-image">
              </div>
              
              <div class="widget-recent-post">
                 <h3 class="widget-recent-post-title">Simplicity and work</h3>
                 <img src="/Images/deco.jpg" alt="" class="widget-image">
              </div>
              
              <div class="widget-recent-post">
                 <h3 class="widget-recent-post-title">Simple decoration</h3>
                 <img src="/Images/deco.jpg" alt="" class="widget-image">
              </div>
              
           </div>
           
        </aside>
        <!-- side end -->
     </div>
     

     <%- include("partials/footer") -%>