<%- include("partials/externals") %>
<link rel="stylesheet" href="/Style/eventregistrationform.css">
<title>Registration Form</title>

<%- include("partials/navbar")-%>


 
<div class="bodyimage">
        

    <br>
    <h2 class= "formattingregisterhere">Event Registration Form</h2>

    <div class="formdiv">

    
        
    
        <form action="/geteventinformation" method="post">
            <div class="formatting">
                <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"placeholder="Your name.."> 
            <br><br>            
            </div>
    
            <div class="formatting">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email Id">
            <br><br>
            </div>
    
            <div class="formatting">
                <label for="mobile">Mobile Number:</label>
                <input type="text" id="mobile" name="mobile" placeholder="Enter your Mobile No">
                <br><br>
            </div>
    
            
            <div class="formatting">
                <label for="eventname">Event Name:</label>
                <select id="eventname" name="eventname">
                    <option value="Arduino_Workshop">Arduino Workshop</option>
                    <option value="Drone_Workshop">Drone Workshop</option>
                    <option value="Battery_Management">Battery Management Wokrshop</option>
                    <option value="Arduino_Quiz">Arduino Quiz</option>
                    <option value="IOT_Talk">Talk on IOT</option>
                    <option value="Sensors_Workshop">Sensors Workshop</option>
                  </select>
            </div>
            
    
            <div class="formattingyesno">
    
                <label for="updates">Do you want to receive updates?    Yes</label>
                <input type="radio" id="yes" name="updates" value="yes">
                <label for="updates">No</label>
                <input type="radio" id="no" name="updates" value="no">
                <br><br>
            </div>
    
            <div class = "formattingsubmit">
                <input type="submit" value="Submit">
            </div>
    
            
          </form>
    </div>

</div>

</body>
</html>
