    <%- include("partials/externals") %> 

    <link rel="stylesheet" href="/Style/index.css">
   <title>Robotics Club</title>

<%- include("partials/navbar")-%>


<!-- ?Home Content -->


     <!-- ! @Praveen -->

     <section class="Hidden Hidden-not-active">
        <!-- Add fucntion here  -->
        <button onclick="HiddenClose()" class="btn-close">
            <i class="fas fa-times fa-2x "></i>
        </button>
        <div class="Hidden-content">
            <div class="Hidden-flex-items">
                <img src="/Images/linefollower.jfif" alt="" class="Hidden-img">
            </div>
            <div class="Hidden-flex-items">
            
                <h1 style="margin-left:-20%;">1st Prize from <span style="color:blue;font-weight: bold;">Uphoria 2019</span></h1>
                <h2 style="margin-left:-100%;margin-top:10%;">Brief</h2>
                <p style="font-weight: bold;text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h3 style="margin-left:-80%;margin-top:10%;color:blue;">Team Members</h3>
                <h4 style="margin-left:-20%;margin-top:1%;">Charith Reddy, Gurram Dinesh, Akash. </h4>
            </div>

        </div>
        
    </section>

<!-- @Praveen -->
    <main>
        <section id="title">
                <!-- title text -->
            <div class="title-text">
                <!-- typing effect -->
                <textarea id="typing-text" readonly ></textarea>
                <h2 class="float-right">Student Club</h2>
            </div>

            <!-- HOME NAVIGATION  -->
            <div class="home-navbar">
                <ul class="home-navbar-nav">
                    <li class="home-nav-item">
                        <div class="home-nav-div">
                            <i class="fas fa-trophy"></i>
                            <a href="#Achievements" class="home-nav-link">Achievements</a>
                        </div>
                    </li>
                    <li class="home-nav-item">
                        <div class="home-nav-div">
                            <i class="fas fa-tasks"></i>
                            <a href="#below-achievements" class="home-nav-link">Project</a>
                        </div>
                    </li>
                    <li class="home-nav-item">
                        <div class="home-nav-div">
                            <i class="far fa-address-card"></i>
                            <a href="#footer" class="home-nav-link">Contact Us</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="Achievements">
            <div class="Ach-header">
                <h2>Achievements</h2>                
            </div>
            <div class="Ach-flex-container">
                <ul class="Ach-navbar">

                    <li class="Ach-nav-item">
                        <div class="Ach-nav-img">
                            <img src="/Images/linefollower.jfif" alt="" class="Ach-img">
                        </div>
                        <div class="Ach-nav-div">
                            <button onclick="LineFollower()" class="Ach-btn">
                                <h1> Line Follower </h1> 
                            </button>
                        </div>     
                    </li>

                    <li class="Ach-nav-item">
                        <div class="Ach-nav-img">
                            <img src="/Images/robosoccer.jpg" alt="" class="Ach-img">
                        </div>
                        <div class="Ach-nav-div">
                            <button onclick="RoboSoccer()" class="Ach-btn">
                                <h1> Robo Soccer </h1> 
                            </button>
                        </div>     
                    </li>

                    <li class="Ach-nav-item">
                        <div class="Ach-nav-img">
                            <img src="/Images/nitrosurge.jpg" alt="" class="Ach-img">
                        </div>
                        <div class="Ach-nav-div">
                            <button onclick="NitroSurge()" class="Ach-btn">
                                <h1> Nitro Surge </h1> 
                            </button>
                        </div>     
                    </li>
                    
                    <li class="Ach-nav-item">
                        <div class="Ach-nav-img">
                            <img src="/Images/robowar.jpg" alt="" class="Ach-img">
                        </div>
                        <div class="Ach-nav-div">
                            <button onclick="RoboWar()" class="Ach-btn">
                                <h1> Robo War </h1> 
                            </button>
                        </div>     
                    </li>
                </ul>
            </div>
        </section>
        <section id="below-achievements">
            <section id="Projects">
                <div class="Ach-header Proj-header">
                    <h2>Projects</h2>
                </div>
                <!-- !Project Navigation -->
                <nav class="proj-nav">
                    <ul class="proj-ul">
                        <li class="proj-li">
                            <button  onclick="FBbot()" class="button button1">Food Serving bot</button>
                        </li>
        
                        <li class="proj-li">
                            <button onclick="FFbot()" class="button button1">Fire Fighting Robot</button>
                        </li>
        
                        <li class="proj-li">
                            <button  onclick="RFid()" class="button button1">RFID Card</button>
                        </li>
        
                        <li class="proj-li">
                            <button onclick="RCplane()" class="button button1">RC Plane</button>
                        </li>
                    </ul>
                </nav>
        
                <!-- !Project Content Section  -->
                <div class="proj-con-main">
                    <div class="proj-con-flex">
                        <div class="proj-flex-item">
                            <img src="/Images/foodServing.jpg" class="flex-img" id="flex-img" alt="">
                        </div>
        
                        <div class="proj-flex-item flex-right">
                            <div class="flex-content" id="flex-content">
                                <h4 style="margin-left:-120%;color:blue;">About</h4>
                                <p style="margin-left:-20%;font-weight: bold;text-align: left;">
                                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Ciceros De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
                                </p>
                                <h4 style="margin-left: 50%;">By Charith Reddy</h4>
                                <h4 style="margin-left: 50%;">Batch: 2021 </h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            
                </section>
       
        </section>
    
    </main>

    
    <!-- ! JS Scripts Linking  -->
    <script src="/js/navBar.js"></script>
    <script src="/js/typing.js"></script>
    <script src="/js/achievements.js"></script>
    <script src="/js/project.js"></script>

    
<%- include("partials/footer")-%> 