   <%- include("partials/externals") %> 

   <link rel="stylesheet" href="/Style/teams.css">
   <title>Our Team</title>
   <script src="/js/teams.js"></script>
  
</head>
<body  onload="animatedisplay()">
    <%- include("partials/navbar") -%> 

    <div id="stop"></div>

    <div id="board1">

        <h1 class="dr">Dr. </h1>
        <h1 style="font-size: 80px;">Rajiv Dey</h1>
        <h3>Faculty Mentor, Assistant Professor</h3>
        <h2>Electronics and Communication Engineering</h2>
      

    </div>

    <div id="board2">

        <h1 class="dr">Dr. </h1>
        <h1 style="font-size: 80px;">Meenakshi Agarwal</h1>
        <h3>Faculty Mentor, Assistant Professor</h3>
        <h2 style="font-size: 40px;">Electronics and Communication Engineering</h2>


    </div>

    <div id="board3">

        <h1 class="dr">Dr. </h1>
        <h1 style="font-size: 80px;">Shuvabrata</h1>
        <h3 style="font-size: 40px;">Faculty Mentor, Assistant Professor</h3>
        <h2 style="font-size: 30px;">Electronics and Communication Engineering</h2>


    </div>

    <div id="board4">

        
        <h1 style="margin-top: 40%;font-size: 90px;">Jaladi Sishir</h1>
        <h3 style="font-size: 90px;">Treasurer</h3>
        <h2 style="font-size: 40px;">Computer Science and Engineering</h2>


    </div>

    <div id="board5">

        <h1 style="margin-top: 31%;font-size: 90px;">Gali Ravi Praveen</h1>
        <h3 style="font-size: 90px;">Vice-President</h3>
        <h2 style="font-size: 40px;">Computer Science and Engineering</h2>


    </div>

    <div id="board6">

        
        <h1 style="font-size: 90px;margin-top:25%;">Harshith Tunuguntla</h1>
        <h3 style="font-size: 90px;">Vice-President</h3>
        <h2 style="font-size: 40px;">Computer Science and Engineering</h2>


    </div>
    <div id="support1"></div>
    <div id="support2"></div>
    <div id="support3"></div>
    <div id="support4"></div>



        <div id="pcontainer">
            <div id="p1" onmouseover="one()" onmouseout="oneout()">
                <img id="img1" src="/Images/rajivb.jpg">
            </div>
            <div id="p2" onmouseover="two()" onmouseout="twoout()">
                <img id="img2" src="/Images/meenakshib.jpg">
                
            </div>
            <div id="p3" onmouseover="three()" onmouseout="threeout()">
                <img id="img3" src="/Images/shuvabrathab.jpg">
            </div>
            <div id="p4" onmouseover="four()" onmouseout="fourout()">
                <img id="img4" src="/Images/sishir.jpg">
            </div>
            <div id="p5" onmouseover="five()" onmouseout="fiveout()">
                <img id="img5" src="/Images/praveen (2).jpg">
            </div>
            <div id="p6" onmouseover="six()" onmouseout="sixout()">
                <img id="img6" src="/Images/harshith.jpg">
            </div>
        </div>

        <%- include("partials/footer") -%>      


        
    
